<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <div class="flex align-items-center">
      <p-avatar image="favicon.ico" class="ml-2" size="normal"/>
      <h2 class="ml-1 mr-3">{{ title }}</h2>
    </div>
  </ng-template>
  <ng-template pTemplate="item" let-item>
    <a [routerLink]="item.route" class="p-menuitem-link">
      <span [class]="item.icon"></span>
      <span class="ml-2">{{ item.label }}</span>
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <p-dropdown
      [options]="themes"
      [(ngModel)]="selectedTheme"
      (onChange)="changeTheme()"
      optionLabel="name"
      placeholder="Select a Theme">
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="selectedTheme">
          <i class="{{selectedTheme.icon}}"></i>
          <div>{{ selectedTheme.name }}</div>
        </div>
      </ng-template>
      <ng-template let-theme pTemplate="item">
        <div class="flex align-items-center gap-2">
          <i class="{{theme.icon}}"></i>
          <div>{{ theme.name }}</div>
        </div>
      </ng-template>

    </p-dropdown>
    <!--        <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />-->
    <!--        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />-->
  </ng-template>
</p-menubar>
