<div class="grid mt-3 lg:mx-6 m-2 mb-8">
  <app-details-header
    [title]="team?.team_info?.full_name!"
    [subtitle]="team?.team_info?.abbreviation!"
    [items]="header_items"></app-details-header>
</div>
<br>
<div class="lg:mx-6 my-3">
  <app-player-showcase [players]="team?.team_players!"></app-player-showcase>
</div>

<div class="grid lg:mx-6">
  <div class="col">
    <p-card header="Next Matches" subheader="From {{date | date: 'MM/d/y'}} to {{next_week() | date: 'MM/d/y'}}">
      <app-match-list *ngIf="!loading" [matches]="matches"></app-match-list>
      <p-dataView [value]="[{}]" layout="grid" *ngIf="loading">
        <ng-template pTemplate="grid">
          <div class="grid">
            <div class="col-12 sm:col-12 md:col-6 lg:col-4" *ngFor="let i of counterArray(6)">
              <div class="p-4 border-1 surface-border surface-card border-round">
                <div class="flex flex-wrap align-items-center justify-content-between gap-2">
                  <div style="flex: 1">
                    <p-skeleton width="100%" styleClass="mb-2"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </p-card>
  </div>
</div>

<div class="col-12">
  <app-time-travel (onDateUpdate)="refreshMatches()"></app-time-travel>
</div>
