<p-fieldset legend="{{title}}">
  <p-table [value]="teams" [scrollable]="true"
    styleClass="p-datatable-sm p-datatable-striped"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center" pFrozenColumn style="width:3rem">#</th>
        <th class="text-left" pFrozenColumn>Team</th>
        <th class="text-center">Games</th>
        <th class="text-center">W</th>
        <th class="text-center">L</th>
        <th class="text-center">W %</th>
        <th class="text-center">Home record</th>
        <th class="text-center">Road record</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-team let-i="rowIndex">
      <tr>
        <td class="text-center font-bold" pFrozenColumn [class]="{'playoff': i <= 7, 'playin': i > 7 && i <= 11}">{{i+1}}</td>
        <td class="text-left" pFrozenColumn><a class="font-medium no-underline text-900" routerLink="/basketball/team/{{team.team_ticker}}">{{ team.team }}</a></td>
        <td class="text-center">{{ team.g }}</td>
        <td class="text-center">{{ team.w }}</td>
        <td class="text-center">{{ team.l }}</td>
        <td class="text-center">{{ team.w_pct }}</td>
        <td class="text-center">{{ team.home_record }}</td>
        <td class="text-center">{{ team.road_record }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-fieldset>
