  <div class="col">
    <div class="flex flex-column gap-2">
      <div class="flex flex-row justify-content-start align-content-start">
        <div class="flex align-items-start flex-column lg:justify-content-between">
          <div class="flex flex-row gap-1 align-items-baseline flex-wrap">
            <div class="text-6xl font-bold text-primary mr-3">{{ title }}</div>
            <div *ngIf="!subtitleLink" class="text-4xl text-color-secondary">{{ subtitle }}</div>
            <a *ngIf="subtitleLink" routerLink="{{subtitleLink}}" class="text-4xl text-color-secondary no-underline">{{ subtitle }}</a>
          </div>
          <div class="flex flex-row align-items-center text-700 flex-wrap">
            <div *ngFor="let item of items" class="mr-5 flex align-items-center mt-3">
              <i *ngIf="item.icon" class="{{item.icon}} mr-2"></i>
              <span>{{item.value}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
