<div class="flex flex-column m-6 gap-2">
  <p-fieldset legend="{{matchStats?.global_stats!.game_date | date: 'fullDate' }}">
    <div class="grid">
      <div class="col">
        <div class="flex flex-column align-items-end justify-content-end align-self-center">
          <span class="font-medium text-secondary text-lg">{{ matchStats?.by_home_stats!.team_abbreviation }}</span>
          <a class="text-4xl font-medium text-900 text-green-500 text-right mt-1 no-underline"
             routerLink="basket/team/{{ matchStats?.by_home_stats!.team_abbreviation }}">
            {{ matchStats?.by_home_stats!.team_name }}
          </a>
          <div class="text-7xl">{{ matchStats?.by_home_stats!.pts }}</div>
        </div>
      </div>
      <div class="col-2 align-self-center px-3">
        <p-divider layout="horizontal" align="center"><b class="text-2xl font-bold text-red-700">VS</b></p-divider>
      </div>
      <div class="col">
        <div class="flex flex-column align-items-start justify-content-start align-self-center">
          <span class="font-medium text-secondary text-lg">{{ matchStats?.by_away_stats!.team_abbreviation }}</span>
          <a class="text-4xl font-medium text-900 text-orange-500 text-left mt-1 no-underline"
             routerLink="basket/team/{{ matchStats?.by_away_stats!.team_abbreviation }}">
            {{ matchStats?.by_away_stats!.team_name }}
          </a>
          <div class="text-7xl">{{ matchStats?.by_away_stats!.pts }}</div>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <p-meterGroup [value]="meterValue">
        <ng-template pTemplate="label"/> <!-- removes the label -->
      </p-meterGroup>
    </div>
  </p-fieldset>

  <div class="p-5">
    <p-splitter>
      <ng-template pTemplate>
        <div class="col flex flex-column flex-1">
          <app-stats-table [stats]="matchStats?.by_home_stats!" [alignment]="'left'"></app-stats-table>
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div class="col flex flex-column flex-1">
          <app-stats-table [stats]="matchStats?.by_home_stats!" [alignment]="'right'"></app-stats-table>
        </div>
      </ng-template>
    </p-splitter>
  </div>
</div>
