<p-carousel
  [value]="players"
  [numVisible]="7"
  [numScroll]="7"
  [circular]="false"
  [responsiveOptions]="responsiveOptions"
  autoplayInterval="9000">
  <ng-template let-player pTemplate="">
    <div class="border-1 surface-border border-round m-2 p-3">
      <div class="flex flex-column gap-4">
        <div class="flex flex-row flex-wrap justify-content-between align-items-baseline">
          <div>
            <div class="text-lg font-medium text-900 mt-1 mb-3 mr-2">
              <a routerLink="./player/{{player.player_id}}" class="no-underline text-900">{{ player.player }}</a>
            </div>
          </div>
          <div class="surface-100 p-1" style="border-radius: 30px">
            <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2"
                 style="border-radius: 30px">
              <i class="pi pi-user font-bold"></i>
              <span class="text-900 font-bold text-purple-500">{{ player.num }} / {{ player.position }}</span>
            </div>
          </div>
        </div>
        <div class="flex flex-row justify-content-between align-items-center gap-2">
          <div class="mt-0 font-semibold">
            {{ player.age }} <span class="text-color-secondary"> y/o </span>
          </div>
          <div class="mt-0 font-semibold">
            {{ player.weight }} <span class="text-color-secondary">lb</span>
          </div>
          <div class="mt-0 font-semibold">
            {{ player.height }} <span class="text-color-secondary">ft</span>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
