<div class="p-0 border-2 surface-border surface-card border-round flex flex-column">
  <div class="flex flex-column p-3">
    <div class="flex flex-row justify-content-between align-items-center gap-2">
      <div>
        <span class="font-medium text-secondary text-sm">{{ match.home_team.city }}, {{ match.home_team.state }}</span>
        <div class="text-lg font-medium text-900 mt-1">
          {{ match.home_team.arena }}
        </div>
      </div>
      <div class="surface-100 p-1" style="border-radius: 30px">
        <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2"
             style="border-radius: 30px">
          <i class="pi pi-calendar text-blue-500"></i>
          <span class="text-900 font-medium text-sm">{{ match.date }}</span>
        </div>
      </div>
    </div>
    <div class="flex flex-row align-items-baseline gap-1 mt-2">
      <div class="flex flex-1 flex-column align-items-end justify-content-end align-self-center">
        <span class="font-medium text-green-500 text-sm">{{ match.home_team.abbreviation }}</span>
        <a class="text-lg font-bold text-900 text-right mt-1 no-underline"
           routerLink="/basket/team/{{ match.home_team.abbreviation }}">
          {{ match.home_team.full_name }}
        </a>
      </div>
      <div class="flex flex-none">
        <p-divider layout="vertical"><b class="text-red-700">VS</b></p-divider>
      </div>
      <div class="flex flex-1 flex-column align-items-start justify-content-start align-self-center">
        <span class="font-medium text-orange-500 text-sm">{{ match.away_team.abbreviation }}</span>
        <a class="text-lg font-bold text-900 text-left mt-1 no-underline"
           routerLink="/basket/team/{{ match.away_team.abbreviation }}">
          {{ match.away_team.full_name }}
        </a>
      </div>
    </div>
    <div class="flex align-self-end mt-2">
      <p-button icon="pi pi-arrow-right" iconPos="right" [text]="true" [raised]="true"
                class="flex-auto md:flex-initial white-space-nowrap" label="See details"
                routerLink="/basket/match/{{match.game_id}}/{{match.date}}"/>
    </div>
  </div>
</div>
