
::ng-deep .playoff {
  background-color: var(--green-500) /*rgb(86, 194, 86);*/;
  color: var(--primary-color-text	);
}

::ng-deep .playin {
  background-color:var(--blue-500)  /*rgb(107, 107, 228);*/;
  color: var(--primary-color-text	);
}

